@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

.Header {overflow: auto;
    z-index: 1;
    position: sticky;
    background-image: url(/static/Images/background.jpg);
    top: 0;
    height: 15vh;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.icons ul {
    list-style: none;
    display: flex;
}

.logo img {
    margin-top: 10px;
    width: 250px;
    height: 100px;
}

.icons ul img {
    margin-right: auto;
    display: flex;
    width: 200px;
    height: 120px;
    opacity: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ,'Josefin Sans';
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.form-box {
    display: flex;
    position: relative;
    flex-direction: column ;
    justify-content: center;
    height: 50vh;
    width: 30vw;
    background: rgba(255, 255, 255, 0.303);
    border-radius: 40px;
    padding-top: 20px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.input-field {
    margin-bottom: 4%;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.471);
    /* color: #fff; */
    height: 70px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
}

.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #000000;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 55px;
    width: 90%;
    border: none;
    border-radius: 40px;
    background: rgba(26, 194, 236, 0.853);
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-top: 10px;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.recogb {
    font-size: 17px;
    font-weight: 500;
    color: black;
    height: 55px;
    width: 90%;
    margin-left: 5%;
    border: none;
    border-radius: 40px;
    background: rgba(223, 106, 246, 0.786);
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-top: 15px;
}

.recogb:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.aboutb {display: flex;
    position: relative;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    height: auto;
    width: auto;
}
.aboutb a{
    margin-right: 40px;
    color: #000000;
    text-decoration: none;
}
.wrapper{
    margin-top: 30px;
  }
  
  .wrapper h1{
    color: rgba(199, 7, 7, 0.622) ;
    font-family: 'Allura';
    font-size: 52px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background: rgba(255, 255, 255, 0.303);
    border-radius: 40px;
    margin: 10px;
    margin-bottom: 50px;
    width: 400px;
    padding: 10px;
    line-height: 20px;
    color: #8e8b8b;  
    position: relative;
  }
  
  .team .team_member h3{
    color: rgba(199, 7, 7, 0.622);
    font-size: 26px;
    margin-top: 50px;
  }
  
  .team .team_member img{
    object-fit: cover;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    
  }
  .team .team_member p.role{
    color: #ccc;
    margin: 12px 0;
    font-size: 20px;
    text-transform: uppercase;
  }
  .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
  }
.wrapper p{
    color: rgba(0, 0, 0, 0.701);
    line-height: 100%;
    margin: 0% 7% 7% 7% ;
    font-family: 'teko';
    font-size: 35px;
    text-align: center;
}
.form-box2 {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 80%;
    width: 100%;
    background: rgba(255, 255, 255, 0.303);
    border-radius: 40px;
    margin-top: 3%;
}