<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="/static/css/style.css">
    <title>Celestial Face</title>
</head>

<body>
    <div class="Header">
        <div class="logo">
            <img src="/static/images/celestialface2.png">
        </div>
        <div class="aboutb">
            <a href="/"><strong> Home </strong></a>
            <a href="/about"><strong>About Us</strong></a>
        </div>
        <div class="icons">
            <ul>
                <img src="/static/images/vitb.svg">
            </ul>
        </div>
    </div>
    <div class="form-box2">
        <div class="wrapper">
            <h1>About Celestial Face</h1>
            <p>Welcome to Celestial Face, your gateway to modern attendance management. Our project is dedicated to revolutionizing the way organizations track attendance through cutting-edge facial recognition technology. 
            </p>
        </div>
        <div class="wrapper">
            <h1>Our Mission</h1>
            <p>At Celestial Face, we believe in simplifying attendance tracking, making it more accurate, secure, and efficient. Our mission is to provide businesses and educational institutions with an innovative solution that saves time and resources while ensuring data accuracy.</p>
        </div>
        <div class="wrapper">
            <h1>Why Facial Recognition?</h1>
            <p>Traditional attendance systems are often plagued by inaccuracies, buddy punching, and time-consuming manual processes. Facial recognition offers a secure and convenient alternative. It's fast, contactless, and virtually eliminates the possibility of fraudulent attendance records.            </p>
        </div>
        <div class="wrapper">
            <h1>How Celestial Face Works</h1>
            <p>Our system utilizes state-of-the-art facial recognition algorithms to identify individuals quickly and accurately. Users simply need to stand in front of a camera, and Celestial Face takes care of the rest. It's as easy as taking a selfie!</p>
        </div>
    </div>
    <div class="wrapper">
        <h1>Our Team</h1>
        <div class="team">
          <div class="team_member">
            <div>
              <img src="/static/images/manav.jpg" alt="Team_image">
            </div>
            <h3>Manav Rawat</h3>
            <p class="role">Frontend Developer</p>
            <p>Manav is Ayush's frontend development partner. Together, they form a dynamic duo in charge of the project's user interface. Manav brings his expertise in responsive web design and frontend technologies to the table. His collaboration with Ayush results in a polished and responsive user interface that adapts to various devices and screen sizes.
            </p>
          </div>
          <div class="team_member">
            <div>
              <img src="/static/images/shashank.jpg" alt="Team_image">
            </div>
            <h3>Shashank Pandey</h3>
            <p class="role">Backend Developer</p>
            <p>Shashank, working closely with Rishabh, shares the responsibility for the development of the face recognition and attendance system. His deep understanding of image processing algorithms and attendance tracking mechanisms helps shape the heart of Celestial Face. Shashank's dedication to optimizing the recognition process ensures the system's efficiency and effectiveness.
            </p></div>
          <div class="team_member">
            <div>
              <img src="/static/images/Rishabh.jpg" alt="Team_image">
            </div>
            <h3>Rishabh Gupta</h3>
            <p class="role">Backend Developer</p>
            <p>Rishabh specializes in face recognition and the development of the attendance system within Celestial Face. He leverages his expertise in computer vision and machine learning to create the core functionality that identifies individuals through facial recognition technology. Rishabh's contributions ensure that Celestial Face provides accurate and reliable attendance records.</p>
          </div>
          <div class="team_member">
            <div>
              <img src="/static/images/ayush.jpg" alt="Team_image">
            </div>
            <h3>Ayush Pratap</h3>
            <p class="role">Frontend Developer</p>
            <p>Ayush is a creative and detail-oriented frontend developer. With a keen eye for design and user experience, he's responsible for crafting the user interface that makes Celestial Face a user-friendly and visually appealing system. Ayush's dedication to creating an intuitive and engaging frontend ensures that users have a seamless experience while interacting with the system.</p>
          </div>
          <div class="team_member">
            <div>
              <img src="/static/images/ashish.jpg" alt="Team_image">
            </div>
            <h3>Ashish Rawat</h3>
            <p class="role">Flask Framework Developer</p>
            <p>Ashish is the expert behind the Flask framework integration in Celestial Face. His in-depth knowledge of Flask, a Python web framework, adds a layer of functionality to the system. Ashish's work on Flask allows Celestial Face to have a flexible and efficient web application structure, enabling seamless communication between the frontend and backend components.</p>
          </div>
        </div>
      </div>
</body>

</html>