<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/add"
        method="post"
        enctype="multipart/form-data">
        <input type="text"
            id="newusername"
            name='newusername'
            required>
        <input type="text"
            id="newuserid"
            name='newuserid'
            required>
        <button type="submit">Add Face</button>
    </form>

    <a href="/recog">
        <button>Face Recog</button>
    </a>
</body>

</html>